.slides {
	margin-top: 0px;
	padding: 0;
	display: none;
	width: 100%;
	height: 20%;
	display: none;
}

.button1 {
	
	backgroundborder: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: gray;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}
.buttonleft {
	size: 10px;
	position: absolute;
	top: 150px;
	left: 10%;
	transform: translate(0%, -50%);
}

.buttonright {
	position: absolute;
	top:150px;
	transform: translate(0%, -50%);
	right: 10%;
}